body {
    /* background-color: aqua;*/
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000F08;
}

nav ul {
    margin-left: 10px;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}


/*nav ul li a {
    color: #fff;
    text-decoration: none;
}*/

.elementos-nav {
    color: #fff;
    text-decoration: none;
}

header {
    background-image: url("../img/bg-hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    text-align: right;
}

header h1,
header h2 {
    color: #FFFFFF;
    text-shadow: 0px 3px 6px black;
    padding-right: 10%;
}

header h1 {
    padding-top: 10%;
}

.seccion1 {
    margin: 70px 0;
    text-align: center;
}

.seccion1 img {
    width: 350px;
}

.seccion2 {
    background-color: #A4452C;
    color: #fff;
    /*height: 300px;*/
}

.seccion2 img {
    width: 150px;
    padding-right: 10px;
}

.d-inline-bloque {
    display: inline-block;
}

.container {
    margin: 0 auto;
    width: 75%;
}

.w-70 {
    width: 70%;
}

#contenedor-charla {
    padding: 40px 0;
}

#seccion3 {
    margin: 70px 0;
    text-align: center;
}

#seccion3 img {
    width: 250px;
}

#contenedor-eventos div {
    padding-left: 20px;
}

#contenedor-eventos h2 {
    padding-bottom: 20px;
}